.tiptap-editor .ProseMirror ol {
  @apply list-decimal;
}

.tiptap-editor .ProseMirror ol ol {
  list-style: lower-alpha;
}

.tiptap-editor .ProseMirror ol ol ol {
  list-style: lower-roman;
}

.tiptap-editor .ProseMirror ul {
  list-style: disc;
}

.tiptap-editor .ProseMirror ul ul {
  list-style: circle;
}

.tiptap-editor .ProseMirror ul ul ul {
  list-style: square;
}
